<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Test</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preload" href="fonts/pragmatica-book.woff2" as="font" crossorigin>
  <link rel="preload" href="fonts/pragmatica-bold.woff2" as="font" crossorigin>
  <link rel="preload" href="fonts/pragmatica-light.woff2" as="font" crossorigin>
  <link rel="preload" href="fonts/pragmatica-medium.woff2" as="font" crossorigin>
  <link rel="preload" href="fonts/pragmatica-black.woff2" as="font" crossorigin>
  <link rel="stylesheet" href="css/style{% if not(isDevMode) %}.min{% endif %}.css">
</head>
<body class="page">
  <header class="page-header">
    {% include 'parts/layout/header.njk' %}
  </header>
  {% block content %}
  {% endblock %}
  <footer class="page-footer">
    {% include 'parts/layout/footer.njk' %}
  </footer>
</body>
</html>
