<div class="quotations__additions">
  <p class="quotations__additions-text page-footer__text">
    Открытие
    <strong class="quotations__value">
      221,00
    </strong>
  </p>
  <p class="quotations__additions-text page-footer__text">
    Максимум
    <strong class="quotations__value">
      238,80
    </strong>
  </p>
  <p class="quotations__additions-text page-footer__text">
    Минимум
    <strong class="quotations__value">
      221,00
    </strong>
  </p>
</div>
