<h2 class="visually-hidden">
  Новости
</h2>
<ul class="news__list">
  <li class="news__item">
		<picture>
			<source type="image/webp" srcset="img/news-1.webp">
      <img class="news__img" src="img/news-1.jpg" width="220" height="165" alt="Новость 1">
    </picture>
    <p class="news__filial">
      Юг
    </p>
    <p class="news__title">
      ЕВРАЗ передал здание шахты «МУК-96» Междуреченску
    </p>
    <p class="news__date">
      Сегодня
    </p>
  </li>
  <li class="news__item">
		<picture>
			<source type="image/webp" srcset="img/news-2.webp">
      <img class="news__img" src="img/news-2.jpg" width="220" height="165" alt="Новость 2">
    </picture>
    <p class="news__filial">
      Юг
    </p>
    <p class="news__title">
      На теплоэлектроцентрали ЕВРАЗ Южкокса внедрили систему LOTO
    </p>
  </li>
  <li class="news__item">
		<picture>
			<source type="image/webp" srcset="img/news-3.webp">
      <img class="news__img" src="img/news-3.jpg" width="220" height="165" alt="Новость 3">
    </picture>
    <p class="news__filial news__filial--2">
      ЗСМК
    </p>
    <p class="news__title">
      ЕВРАЗ ЗСМК посетили представители ключевого дилера строительного металлопроката
    </p>
    <p class="news__date">
      Вчера
    </p>
  </li>
  <li class="news__item">
		<picture>
			<source type="image/webp" srcset="img/news-4.webp">
      <img class="news__img" src="img/news-4.jpg" width="220" height="165" alt="Новость 4">
    </picture>
    <p class="news__filial news__filial--3">
      НТМК
    </p>
    <p class="news__title">
      ЕВРАЗ НТМК повышает эффективность выплавки стали
    </p>
    <p class="news__date">
      19 декабря
    </p>
  </li>
</ul>
<ul class="news__controls">
  <li class="news__controls-item">
    <a class="news__btn news__btn--news page__btn" href="#">
      Все новости
    </a>
  </li>
  <li class="news__controls-item">
    <a class="news__btn news__btn--region page__btn" href="#">
      Мой регион
    </a>
  </li>
</ul>
