<div class="slider__main">
  <div class="slider__video video">
    <button class="video__play">
      <span class="visually-hidden">
        Проиграть видео
      </span>
    </button>
    <p class="video__channel">
      Евраз ТВ
    </p>
    <h2 class="video__heading">
      65-летие Рельсобалочного цеха ЕВРАЗ НТМК
    </h2>
  </div>
  <p class="slider__title">
    Иванов Алексей
  </p>
  <p class="slider__descr">
    Мы все хотим, чтобы ЕВРАЗ был эффективной компанией с высоким уровнем безопасности труда, ориентированной на запросы клиентов, поставляющей продукцию высокого качества…
  </p>
  <p class="slider__addition">
    Старший Вице-президент,<br>
    Блок коммерции и развития бизнеса
  </p>
</div>

<div class="slider__aside">
  <div class="slider__person person">
		<picture>
			<source type="image/webp" srcset="img/avatar-2.webp">
      <img class="person__avatar" src="img/avatar-2.png" width="50" height="50" alt="Аватар">
    </picture>
    <p class="person__name">
      Царенко Владимир
    </p>
    <p class="person__descr">
      Главный специалист ЕвразХолдинг
    </p>
  </div>
  <ul class="slider__events events">
    <li class="events__item events__item--note">
      <p class="events__day">
        12 декабря
      </p>
      <p class="events__text events__text--note">
        Встреча с представителями банка ВТБ24
      </p>
    </li>
    <li class="events__item events__item--news">
      <p class="events__day">
        13 января
      </p>
      <p class="events__text">
        О проведении в 2017 году соревнований по горным лыжам и сноуборду имени Андрея Севенюка
      </p>
    </li>
  </ul>
  <div class="slider__controls controls">
    <ul class="controls__ring">
      <li class="controls__ring-item">
        <button class="controls__ring-btn">
          <span class="visually-hidden">
            Предыдущий
          </span>
        </button>
      </li>
      <li class="controls__ring-item">
        <button class="controls__ring-btn controls__ring-btn--next">
          <span class="visually-hidden">
            Следующий
          </span>
        </button>
      </li>
    </ul>
    <ul class="controls__pins">
      <li class="controls__pins-item">
        <button class="controls__pin">
          <span class="visually-hidden">
            Слайд 1
          </span>
        </button>
      </li>
      <li class="controls__pins-item">
        <button class="controls__pin controls__pin--active">
          <span class="visually-hidden">
            Слайд 2
          </span>
        </button>
      </li>
      <li class="controls__pins-item">
        <button class="controls__pin">
          <span class="visually-hidden">
            Слайд 3
          </span>
        </button>
      </li>
      <li class="controls__pins-item">
        <button class="controls__pin">
          <span class="visually-hidden">
            Слайд 4
          </span>
        </button>
      </li>
      <li class="controls__pins-item">
        <button class="controls__pin">
          <span class="visually-hidden">
            Слайд 5
          </span>
        </button>
      </li>
    </ul>
  </div>
</div>
