<div class="page-footer__item">
  <a class="page-footer__logo" href="#">
    <img src="img/logo-small.png" width="101" height="16" alt="Лого">
  </a>
  <p class="page-footer__text">
    Мы ценим своих сотрудников и создаем возможности для их профессионального развития и карьерного роста
  </p>
</div>
<div class="page-footer__item">
  <h2 class="page-footer__heading page-footer__heading--contacts">
    Горячая линия
  </h2>
  <dl class="page-footer__contacts">
    <dt class="page-footer__tel">
      <a class="page-footer__tel-link" href="tel:88005558888">
        8-800-555-88-88
      </a>
    </dt>
    <dd class="page-footer__text page-footer__text--contacts">
      для сотрудников российских предприятий
    </dd>
    <dt class="page-footer__tel">
      <a class="page-footer__tel-link" href="tel:080050211">
        0-800-502-118
      </a>
    </dt>
    <dd class="page-footer__text page-footer__text--contacts">
      для сотрудников украинских предприятий
    </dd>
    <dt class="page-footer__tel">
      <a class="page-footer__tel-link" href="tel:88000804358">
        8-800-080-43-58
      </a>
    </dt>
    <dd class="page-footer__text page-footer__text--contacts">
      для сотрудников ЕВРАЗ Каспиан Сталь
    </dd>
    <dt class="visually-hidden">
      Электронная почта
    </dt>
    <dd class="page-footer__text">
      <a class="page-footer__mail-link" href="mailto:vopros@evraz.com">
        vopros@evraz.com
      </a>
    </dd>
  </dl>
  <a class="page-footer__btn page__btn" href="#">
    Написать в горячую линию
  </a>
</div>
<div class="page-footer__item">
  <h2 class="page-footer__heading">
    Биржевые котировки
  </h2>
  <p class="page-footer__text">
    28 декабря 12:35 (GMT)
  </p>
  <ul class="page-footer__quotations quotations">
    <li class="quotations__item">
      <div class="quotations__lead">
        <p class="quotations__text page-footer__text">
          EVRAZ (LSE):
        </p>
        <p class="quotations__text page-footer__text">
          <strong class="quotations__value quotations__value">
            225.10
          </strong>
          GBX
        </p>
        <p class="quotations__descr quotations__descr--up">
          1.20 (0.54 %)
        </p>
      </div>
      {% include 'parts/index/additions.njk' %}
    </li>
    <li class="quotations__item">
      <div class="quotations__lead">
        <p class="quotations__text page-footer__text">
          Raspadskaya (MCX):
        </p>
        <p class="quotations__text page-footer__text">
          <strong class="quotations__value quotations__value">
            78.96
          </strong>
          RUB
        </p>
        <p class="quotations__descr quotations__descr--up">
          0.65 (0.83 %)
        </p>
      </div>
      {% include 'parts/index/additions.njk' %}
    </li>
  </ul>
</div>
<div class="page-footer__item">
  <h2 class="page-footer__heading page-footer__heading--portal">
    Портал
  </h2>
  <ul class="page-footer__menu">
    <li class="page-footer__menu-item">
      <a class="page-footer__menu-link" href="#">
        Обратная связь
      </a>
    </li>
    <li class="page-footer__menu-item">
      <a class="page-footer__menu-link" href="#">
        Карта разделов портала
      </a>
    </li>
    <li class="page-footer__menu-item">
      <a class="page-footer__menu-link" href="#">
        Заявка в Service Desk
      </a>
    </li>
    <li class="page-footer__menu-item">
      <a class="page-footer__menu-link" href="#">
        Помощь
      </a>
    </li>
    <li class="page-footer__menu-item">
      <a class="page-footer__menu-link" href="#">
        Команда
      </a>
    </li>
  </ul>
  <p class="page-footer__text page-footer__text--error">
    Если вы нашли ошибку, выделите ее курсором, нажмите одновременно клавиши «CTRL» и «ENTER» и мы скорректируем неточность.
  </p>
</div>
