<div class="page-header__upper">
  <a class="page-header__logo" href="#">
    <img src="img/logo.png" width="69" height="20" alt="Лого">
  </a>
  <p class="page-header__region">
    73
  </p>
  <ul class="page-header__upper-menu">
    <li class="page-header__upper-item page-header__upper-item--1">
      <a class="page-header__upper-link" href="#">
        Автобусы
      </a>
    </li>
    <li class="page-header__upper-item page-header__upper-item--2">
      <a class="page-header__upper-link" href="#">
        Столовая
      </a>
    </li>
    <li class="page-header__upper-item page-header__upper-item--3">
      <svg class="page-header__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="20">
        <path d="M22 10a1.243 1.243 0 0 0-.674-1.115l-1.638-.837 1.638-.837a1.259 1.259 0 0 0 0-2.23L12.078.257a2.377 2.377 0 0 0-2.156 0L.674 4.981a1.259 1.259 0 0 0 0 2.23l1.638.837-1.638.837a1.259 1.259 0 0 0 0 2.23l1.638.837-1.638.837a1.259 1.259 0 0 0 0 2.23l9.248 4.724a2.378 2.378 0 0 0 2.156 0l9.248-4.724a1.259 1.259 0 0 0 0-2.23l-1.638-.837 1.638-.837A1.243 1.243 0 0 0 22 10zM1.127 6.288a.215.215 0 0 1 0-.381l9.247-4.724a1.381 1.381 0 0 1 1.252 0l9.247 4.723a.215.215 0 0 1 0 .381l-9.247 4.723a1.381 1.381 0 0 1-1.252 0zm19.746 7.425a.215.215 0 0 1 0 .381l-9.247 4.724a1.38 1.38 0 0 1-1.252 0l-9.247-4.723a.215.215 0 0 1 0-.381l2.316-1.183 6.479 3.309a2.378 2.378 0 0 0 2.156 0l6.479-3.309zm0-3.522l-9.247 4.724a1.381 1.381 0 0 1-1.252 0l-9.247-4.723a.215.215 0 0 1 0-.381l2.316-1.183 6.479 3.309a2.377 2.377 0 0 0 2.156 0l6.479-3.309 2.316 1.183a.216.216 0 0 1 0 .38z"/>
      </svg>
      <a class="page-header__upper-link" href="#">
        Этажи
      </a>
    </li>
    <li class="page-header__upper-item page-header__upper-item--4">
      <a class="page-header__upper-link" href="#">
        Территории
      </a>
    </li>
    <li class="page-header__upper-item page-header__upper-item--5">
      <a class="page-header__upper-link" href="#">
        Поиск
      </a>
    </li>
  </ul>
  <div class="page-header__profile">
    <div class="page-header__mail mail">
      <button class="mail__btn">
        <span class="visually-hidden">
          К сообщениям
        </span>
      </button>
      <p class="mail__count">
        12
      </p>
    </div>
    <p class="page-header__user">
      <picture>
        <source type="image/webp" srcset="img/avatar.webp">
        <img class="page-header__avatar" src="img/avatar.png" width="30" height="30" alt="Аватар">
      </picture>
      Александр
    </p>
  </div>
</div>
<nav class="page-header__nav nav">
  <ul class="nav__menu">
    <li class="nav__item">
      <a class="nav__link nav__link--active">
        Наша компания
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">
        Наша команда
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">
        Моя безопасность
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">
        Управляющая компания
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">
        Наши предприятия
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">
        Справочники
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">
        Сервисы
      </a>
    </li>
  </ul>
</nav>
