$blink: "(-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)";
$coffee: #f6f6f6;
$black: #1f1f1f;
$dark: #231f20;
$dark-alter: #221f1f;
$gray: #818285;
$gray-alter: #7f8085;
$red: #ee2d24;
$red-alter: #f04239;
$wheat: #fdda9d;
$orange: #fcb53b;
$orange-dark: #f57f29;
$boundary:  calc(50% + 200px);
